MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password123
AWS_REGION=us-east-1
TRINO_PORT=8082
SQL_EDITOR_PORT=8978
SQL_EDITOR_ADMIN=admin
SQL_EDITOR_PASSWORD=password123
DBT_TRINO_HOST=localhost
DBT_TRINO_PORT=8082
DBT_TRINO_USER=admin
